<div class="Modal_Content" *ngIf=" Type && Type === 'Import'">
   <div class="Modal_Header">
      <p> Students Link to Current Semester </p>
      <span  *ngIf="!Uploading" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <form [formGroup]="Form">
         <div class="row">
            <div class="col-sm-4 Form_Select">
               <label> Institution: </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Institution"
                           [items]="Institutions_List"
                           [bindLabel]="'Institution'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           placeholder="Institution">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Institution'].errors && !Form.controls['Institution'].pristine">
                  <span *ngIf="Form.controls['Institution'].errors.required"> Institution is required</span>
               </p>
            </div>
            <div class="col-sm-4 Form_Select">
               <label> Course & Department: </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Institution_Management"
                           [items]="Institution_Management_List"
                           [bindLabel]="'CourseAndDepartment'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           placeholder="Course & Department">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Institution_Management'].errors && !Form.controls['Institution_Management'].pristine">
                  <span *ngIf="Form.controls['Institution_Management'].errors.required"> Course & Department is required</span>
               </p>
            </div>
            <div class="col-sm-4 Form_Select">
               <label> Yearly Batch </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Yearly_Badge"
                           [items]="Yearly_Badge_List"
                           [bindLabel]="'Batch'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           placeholder="Yearly Badge">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Yearly_Badge'].errors && !Form.controls['Yearly_Badge'].pristine">
                  <span *ngIf="Form.controls['Yearly_Badge'].errors.required"> Yearly Badge is required</span>
               </p>
            </div>
            <div class="col-sm-4 Form_Select">
               <label> Year </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Year"
                           [items]="Years_List"
                           [bindLabel]="'Show_Year'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           placeholder="Year">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Year'].errors && !Form.controls['Year'].pristine">
                  <span *ngIf="Form.controls['Year'].errors.required"> Year is required</span>
               </p>
            </div>
            <div class="col-sm-4 Form_Select">
               <label> Semester </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Semester"
                           [items]="Semesters_List"
                           [bindLabel]="'Semester_Name'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           placeholder="Yearly Badge">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Semester'].errors && !Form.controls['Semester'].pristine">
                  <span *ngIf="Form.controls['Semester'].errors.required"> Yearly Badge is required</span>
               </p>
            </div>
            <div class="col-sm-4 Form_Select">
               <label> Section </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Section"
                           [items]="Sections_List"
                           [searchable]="true"
                           placeholder="Section">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Section'].errors && !Form.controls['Section'].pristine">
                  <span *ngIf="Form.controls['Section'].errors.required"> Section is required</span>
               </p>
            </div>
         </div>
      </form>
      <br>
      <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th> S.no </th>
                     <th> Name </th>
                     <th> Reg No</th>
                     <th> <mat-checkbox  [(ngModel)]="AllStudentSelected" (change)="SelectAll($event)"> All </mat-checkbox> </th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let Student of Students_List; let i = index" >
                     <td> 
                        <span class="Style_1"> {{i + 1}} </span> 
                     </td>
                     <td>
                        <span class="Style_1"> {{Student?.Name}} </span> 
                     </td>
                     <td>
                        <span class="Style_1"> {{Student?.Reg_No}} </span> 
                     </td>
                     <td>
                        <mat-checkbox [(ngModel)]="Student.Selected" (change)="SomeSelectChange()"></mat-checkbox>
                     </td>
                  </tr>
               </tbody>
            </table>
      </div>
   </div>
   <div class="Model_Footer">
      <button type="button" (click)="Submit()" [disabled]="Form.status !== 'VALID' || Async_Loading || Uploading" mat-raised-button color="primary">
         <span *ngIf="!Uploading">Submit</span>
         <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
      </button>
   </div>
</div>