<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
   <div class="Modal_Header">
      <p> Staffs</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="col-sm-6 Form_Input">
            <label> Name:</label>
            <input type="text">
         </div>
         <div class="col-sm-6 Form_Input">
            <label>Qualification:</label>
            <input type="text">
         </div>
         <div class="col-sm-6 Form_Input">
            <label>Date Of Joining:</label>
            <input type="text">
         </div>
         <div class="col-sm-6 Form_Input">
            <label>Experience:</label>
            <input type="text">
         </div>
         <div class="col-sm-6 Form_Input">
            <label>Authourity:</label>
            <input type="text">
         </div>
         <div class="col-sm-6 Form_radio">
            <label>Gender:</label><br>
            <input type="radio">Male<br>
            <input type="radio">Female
         </div>
      </div>
   </div>
   <div class="Model_Footer">
      <button mat-raised-button color="primary"> Submit </button>
   </div>
</div>
<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
   <div class="Modal_Header">
      <p>Staffs</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="view_item">
         <div class=" Static"> Name </div>
         <div class="dots"> : </div>
         <div class=" Data"> Name</div>
      </div>
      <div class="view_item">
         <div class=" Static">Qualification </div>
         <div class="dots"> : </div>
         <div class=" Data"> xxxxx</div>
      </div>
      <div class="view_item">
         <div class=" Static">Date Of Joining </div>
         <div class="dots"> : </div>
         <div class=" Data"> 27/08/18</div>
      </div>
      <div class="view_item">
         <div class=" Static">Experience </div>
         <div class="dots"> : </div>
         <div class=" Data"> 10yrs</div>
      </div>
      <div class="view_item">
         <div class=" Static">Gender </div>
         <div class="dots"> : </div>
         <div class=" Data"> male</div>
      </div>
   </div>
</div>
   
      
   