<app-header></app-header>
<!-- Main Section -->
<div class="Main_Section">
   <div class="container-fluid">
      <!-- page Section -->
      <div class="Page_Section">
         <!-- Page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">Home</li>
                  <li class="arrow">>></li>
                  <li>DashBoard</li>
               </ul>
            </div>
         </div>
         <!-- Card -->
         <div class="row">
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-12 ">
                     <div class="row">
                        <div class="col-sm-3">
                           <div class="Card card_bg_Liner_1">
                              <div class="Card_Body">
                                 <div class="Card_Left">
                                    <i class="material-icons people">equalizer</i>
                                 </div>
                                 <div class="Card_Right">
                                    <h5 class="card_color_1"> Adithya Institute of Technology </h5>
                                    <!-- <h6> 10</h6> -->
                                 </div>
                              </div>
                              <div class="Card_Footer card_bg_1">
                                 <span class="Card_Info" [routerLink]="['/Institution_View']"> View More </span>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="Card card_bg_Liner_2">
                              <div class="Card_Body">
                                 <div class="Card_Left">
                                       <i class="material-icons layers">layers</i>
                                 </div>
                                 <div class="Card_Right">
                                    <h5 class="card_color_2 "> Amrita School of Engineering </h5>
                                    <!-- <h6>10 </h6> -->
                                 </div>
                              </div>
                              <div class="Card_Footer card_bg_2">
                                 <span class="Card_Info" [routerLink]="['/Institution_View']"> View More </span>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="Card card_bg_Liner_3">
                              <div class="Card_Body">
                                 <div class="Card_Left">
                                       <i class="material-icons group1">group</i>
                                 </div>
                                 <div class="Card_Right">
                                    <h5 class="card_color_3"> Arjun College Of Technology</h5>
                                    <!-- <h6> 50 </h6> -->
                                 </div>
                              </div>
                              <div class="Card_Footer card_bg_3">
                                 <span class="Card_Info" [routerLink]="['/Institution_View']"> View More </span>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="Card card_bg_Liner_4">
                              <div class="Card_Body">
                                 <div class="Card_Left">
                                       <i class="material-icons group2"> group</i>
                                 </div>
                                 <div class="Card_Right">
                                    <h5 class="card_color_4">Coimbatore Institute of Technology </h5>
                                    <!-- <h6>3000 </h6> -->
                                 </div>
                              </div>
                              <div class="Card_Footer card_bg_4">
                                 <span class="Card_Info" [routerLink]="['/Institution_View']"> View More  </span>
                              </div>
                           </div>
                        </div><br>
                     </div>
                  </div>
               </div> 
               <br>                
            </div>
         </div>
      </div>
   </div>
</div>

      

  
  
   



