<div class="Page_Section">
   <div class="Page_Identity">
      <div class="Page_Name">
         <h5>USER MANAGEMENT</h5>
      </div>
      <div class="Page_Track">
         <ul>
            <li class="HeaderName">Configuration</li>
            <li class="arrow">>></li>
            <li>User Management </li>
         </ul>
      </div>
   </div>
   <div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
      <div class="Loading">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
         </div>
      </div>
   </div>
   <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
      <div class="row header_part">
         <div class="col-sm-8">
         <button class="Create_Button" mat-raised-button (click)="CreateUser()"> + Create </button>
         </div>
         <div class="col-sm-4">
            <div class="Search_Section">
               <input type="text" placeholder="Search.." name="search">
               <i class="material-icons">search</i>
            </div>
         </div>
      </div>
      <div class="Table_Section">
         <table>
            <thead>
               <tr>
                  <th style="width: 80px;"> S.no </th>
                  <th> Name </th>
                  <th> User Name </th>
                  <th> Email </th>
                  <th> Phone </th>
                  <th> User Type </th>
                  <th> Institution </th>
                  <th> Status </th>
               </tr>
               </thead>
               <tbody>
               <tr *ngFor="let item of _List; let i=index">
                  <td>
                     <span class="S_no"> {{i + 1}} </span>
                  </td>
                  <td>
                     <span *ngIf="!item['Staff_Linked']" class="Style_1"> {{item['Name']}} </span>
                     <span *ngIf="item['Staff_Linked']" class="Style_1"> {{item['Staff']['Name']}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{item['User_Name']}} </span>
                  </td>
                  <td>
                     <span *ngIf="!item['Staff_Linked']" class="Style_1"> {{item['Email']}} </span>
                     <span *ngIf="item['Staff_Linked']" class="Style_1"> {{item['Staff']['Email']}} </span>
                  </td>
                  <td>
                     <span *ngIf="!item['Staff_Linked']" class="Style_1"> {{item['Phone']}} </span>
                     <span *ngIf="item['Staff_Linked']" class="Style_1"> {{item['Staff']['Phone']}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{item['User_Type']}}  </span>
                  </td>
                  <td>
                     <span *ngIf="item['Staff_Linked']" class="Style_1"> {{item['Staff']['Institution']['Institution']}} </span>
                     <span *ngIf="item['Staff_Linked'] && item['Staff']['Department']" class="Style_1"> ( {{item['Staff']['Department']['Department']}} ) </span>
                  </td>
                  <td>
                     <span class="Style_1" *ngIf="item.Active_Status"> Active </span>
                     <span class="Style_1" *ngIf="!item.Active_Status"> Inactive </span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>   