<!-- Page section -->
<div class="Page_Section">
   <div class="container-fluid">
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Students</li>
               <li class="arrow">>></li>
               <li>Students List</li>
            </ul>
         </div>
      </div>
      <!--  Header Part -->
      <div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
         <div class="Loading">
            <div class="spinner">
               <div class="rect1"></div>
               <div class="rect2"></div>
               <div class="rect3"></div>
               <div class="rect4"></div>
               <div class="rect5"></div>
               <div class="rect6"></div>
            </div>
         </div>
      </div>
      <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
         <div class="Complete_Section">
            <div class="Left_Section">
               <div class="Left_SectionBox_Effect">
                  <form [formGroup]="Form">
                     <div class="Form_Select">
                        <label> Institution</label>
                        <ng-select class="NgSelect ValueBold ClearHide"
                                    [items]="_Institutions"
                                    formControlName="Institution"
                                    [bindLabel]="'Institution'"
                                    [bindValue]="'_id'"
                                    [searchable]="true"
                                    (change)="InstitutionChange()"
                                    placeholder="Institution">
                        </ng-select>
                     </div>
                     <div class="Form_Select">
                        <label> Department </label>
                        <ng-select class="NgSelect ValueBold"
                                    [items]="_Departments"
                                    formControlName="Department"
                                    [bindLabel]="'Department'"
                                    [bindValue]="'_id'"
                                    [searchable]="true"
                                    (change)="DepartmentChange()"
                                    placeholder=" Department">
                        </ng-select>
                     </div>            
                  </form>
                  <ng-container *ngIf="User_Type === 'Admin' || User_Type === 'Sub Admin' || User_Type === 'Principal' || User_Type === 'HOD'">
                     <div class="row">
                        <div class="col-sm-12 text-center" >
                           <button mat-raised-button color="primary" [routerLink]="['/Staff_Create']"> + Create Staff </button>
                        </div>
                     </div>
                  </ng-container>
               </div>
            </div>
            <div class="Right_Section">
               <div [ngClass]="{'Hide': !Loader_1}" class="DataLoaderStyle_2">
                  <div class="Loading">
                     <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                     </div>
                  </div>
               </div>
               <div class="LoadedDataStyle_2" [ngClass]="{'Show': !Loader_1}">
                  <div class="BoxSections_List">
                     <div class="Box_Section" *ngFor="let Staff of Staff_List; let i=index">
                        <div class="Box_Img"> 
                           <img src="assets/images/basic/user_1.png" alt="">
                        </div>
                        <div class="Box_Details">
                           <p class="Name"> {{Staff.Name}} </p>
                           <p class="StaffRole"> {{Staff.StaffRole}} </p>
                           <ng-container *ngIf="User_Type === 'Admin' || User_Type === 'Sub Admin'">
                              <p class="Institution"> {{Staff.Institution?.Institution}} </p>
                           </ng-container>
                           <ng-container *ngIf="User_Type === 'Admin' || User_Type === 'Sub Admin' || User_Type === 'Principal'">
                              <ng-container *ngIf="Staff.Department === null || Staff.Department === undefined">
                                 <p class="Department"> - </p>
                              </ng-container>
                              <ng-container *ngIf="Staff.Department !== null || Staff.Department !== undefined">
                                    <p class="Department"> {{Staff.Department?.Department}} </p>
                              </ng-container>
                           </ng-container>
                           <p class="Email"> {{Staff?.Email}} </p>
                           <p class="Section"> {{Staff?.Mobile}} </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <br>
      </div>
   </div>
</div>
