/* Page */
.page{
   margin-top:100px;
   margin-bottom:100px;
}
/* --------------   Page Identity Section  ----------------- */
.Page_Identity{
   display: flex;
   height:40px;
   width: 100%;
   margin-bottom: 5px;
}
.Page_Identity .Page_Track{
   width:100%;
   line-height: 35px;
}
.Page_Identity .Page_Track ul{
   display: flex;
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   align-items: center;
   float: right;
}
.Page_Identity .Page_Track ul li {
  font-size: 13px;
   font-weight: 500;
   margin-left: 5px;
}
.Page_Identity .Page_Track ul li.arrow{
   letter-spacing: -4px;
   font-size: 19px;
   transform: scale(.6, 1);
}
.Page_Identity .Page_Track ul li.arrowGreen{
   letter-spacing: -4px;
   font-size: 19px;
   transform: scale(.6, 1);
   color: #226BAF;
}
.Page_Identity .Page_Track ul li.HeaderName{
   color: #226BAF;
}
.Page_Identity .Page_Track ul li.LinkName{
   color: #226BAF;
   cursor: pointer;
}
/* Form designs  */
.Form_Input label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #4e6a7a;
}
.Form_Input input {
  padding: 4px 10px;
  width: 100%;
  height: 37px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  color: rgb(79, 107, 123);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.Form_TextArea label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #4e6a7a;
}
.Form_TextArea textarea {
  padding: 4px 10px;
  width: 100%;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  color: rgb(79, 107, 123);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.Form_Input input:-moz-placeholder{
  color: #999999;
  font-weight: 400;
}
.Form_Input input::-moz-placeholder{
  color: #999999;
  font-weight: 400;
}
.Form_Input input::-webkit-input-placeholder{
  color: #999999;
  font-weight: 400;
}
.Form_Input input:-ms-input-placeholder{
  color: #999999;
  font-weight: 400;
}
.Form_Select label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #4e6a7a;
}
.Form_Select select{
  width: 100%;
  height: 37px;
  outline: none;
  padding: 0px 10px;
  border: 1px solid #e8e8e8;
  color: rgb(79, 107, 123);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.Form_Select select option{
  color: rgb(79, 107, 123);
  width: 100%;
}
/* Company details */
.Company_Details{
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   border-top: 2px solid #226BAF;
   box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.SectionIdentity{
   color:#516570;
   font-size:18px;
   font-weight: 700;
}
.SectionIdentity .Highlight{
   color:#226BAF;
   font-size:18px;
   font-weight: 700;
}
/* Tabs */
.Tabs{
   display: flex;
   width: 100%;
}
.Tabs .Tab{
   color: #4d6a7a;
   width: 20%;
   line-height: 35px;
   background-color: #80808038;
   margin-top: -10px;
   text-align: center;
   margin-right: 5px;
   font-size: 15px;
   font-weight: 600;
   letter-spacing: 0.4px;
   cursor: pointer;
}
.Tabs .Tab:hover{
   background-color: #80808048;
   border-bottom: 2px solid #776f6f68;
}

.Tabs .Tab.active{
   border-bottom: 2px solid #226BAF;
   color: #226BAF;
   cursor: default;
}
/* Table Section */
.Table_Section table {
   border: 1px solid lightgray;
   width: 100%;
   box-shadow: 2px 2px 3px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}
.Table_Section table thead {
   line-height: 40px;
   text-align: center;
   background-color: #ffffff;
   color: #4d6a7a;
   font-size: 14px;
   letter-spacing: 0.5px;
}
.Table_Section table thead th{
   font-weight: 800;
}
.Table_Section table tbody {
   border: 1px solid #e8e8e8;
   background-color: #ffffff;
}
.Table_Section table tbody tr {
   line-height: 42px;
   text-align: center;
   align-items: center;
   border-bottom: 1px solid #eaeaea;
}
.Table_Section table tbody tr:nth-child(odd) {
   background-color: #f1f1f185;
}
.Table_Section table tbody tr:hover {
   background-color: #4f6a7a40;
}
.Table_Section table tbody tr td .S_no {
   font-size: 14px;
   color: #4d6a7a;
}
.Table_Section table tbody tr td .Style_1 {
   font-size: 14px;
   color: rgba(77, 106, 122, 0.84);
   font-weight: 600;
   cursor: pointer;
}
.Table_Section table tbody tr td .Action_Section{
   color: #ffffff;
   height: 35px;
   width: 35px;
   line-height: 30px;
   display: flex;
   border-radius: 5px;
   cursor: pointer;
   float: right;
   margin-right: 10px;
}
.Table_Section table tbody tr td .Action_Section i {
   width: 100%;
   line-height: 35px;
}
/* ----------- Create and Search Section ---------- */
.header_part{
   margin-bottom: 15px;
}
.Create_Button{
   letter-spacing: 0.5px;
   font-weight: 600;
   font-size: 14px;
}
/* ---------- Search Section ----------- */
.Search_Section{
   position: relative;
   background-color: #ffffff;
   height: 36px;
   box-shadow: 1px 2px 4px 0px rgba(0,0,0,.2);
}
.Search_Section input{
   width: 100%;
   border-radius: 0;
   border: none;
   background-color: #4e3f3f1f;
   padding: 10px;
   height: 36px;
   color: #4f6a7a;
   font-weight: 500;
   outline: none;
}
.Search_Section input::placeholder{
   color:#8f8888; 
   font-weight:400;
}
.Search_Section i{
   position: absolute;
   right: 0px;
   padding: 7px 5px;
   color: #226BAF;
   font-weight: 600;
   cursor: pointer;
}
/* footer */
.Footer {
   position: fixed;
   bottom: 0px;
   width: 100%;
   padding: 0px 15px;
   background-color: rgb(167, 175, 179);
   height: 45px;
   text-align: right
}