<!-- Login Page Start -->
<div class="Login_Page">
   <div class="Login_Part">
      <!-- Logo Section -->
      <div class="row">
         <div class="col-sm-4"></div>
         <div class="col-sm-4">
            <div class="Logo">
               <img src="/assets/images//basic//SNS.png" alt="">
            </div>
         </div>
         <div class="col-sm-4"></div>
      </div>
      <!-- Form Section -->
      <div class="row">
         <div class="col-sm-4"></div>
         <div class="col-sm-4">
            <div class="FormBox">
               <div class="Identity_Box">
                  <h5> Login Page</h5>
               </div>
               <div class="Form_Area">
                     <!-- User_Name Form Controller  -->
                     <div class="Form_Field">
                        <i class="material-icons">person_outline</i>
                        <input type="text" placeholder="User Name">
                     </div>
                     <!-- User_Password Form Controller  -->
                     <div class="Form_Field">
                        <i class="material-icons">lock</i>
                        <input type="password"  placeholder="Password">
                     </div>
                     <!-- FormGroup Submit  -->
                     <div class="Submit_Btn">
                        <button type="submit" (click)="submit()" mat-raised-button color="primary"> Submit </button>
                     </div>
               </div>
               <!-- Form Section Footer Part  -->
               <div class="Footer_Area">
                  <h6> Forgot <span> Password? </span> </h6>
               </div>
            </div>
         </div>
         <div class="col-sm-4"></div>
      </div>
  </div>
</div>
<!-- Login Page End -->
