<!-- Page -->
<div class="page">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Configuration</li>
               <li class="arrow">>></li>
               <li class="LinkName" [routerLink]="['/Institution_List']">Institution List</li>
               <li class="arrow">>></li>
               <li> Institution View</li>
            </ul>
         </div>
      </div>
      <div class="row">
         <!-- Company details -->
         <div class="col-sm-12">
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Institution </span> Details
               </h5>
               <div class="row">
                  <div class="col-sm-4">
                     <div class="view_item">
                        <div class="Static"> Institution Name </div>
                        <div class="dots"> : </div>
                        <div class="Data"> Jay Shriram </div>
                     </div>
                     <div class="view_item">
                        <div class="Static">Institution Code</div>
                        <div class="dots"> : </div>
                        <div class="Data"> 2145 </div>
                     </div>
                     <div class="view_item">
                        <div class="Static"> Email Id </div>
                        <div class="dots"> : </div>
                        <div class="Data"> jay@gmail.com </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="view_item">
                        <div class="Static"> Year Of Incorporation </div>
                        <div class="dots"> : </div>
                        <div class="Data">  2011 </div>
                     </div>
                     <div class="view_item">
                        <div class="Static"> Head Of The Institution </div>
                        <div class="dots"> : </div>
                        <div class="Data"> xxxx </div>
                     </div>
                     <div class="view_item">
                        <div class="Static"> Address </div>
                        <div class="dots"> : </div>
                        <div class="Data"> yyyy </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="view_item">
                        <div class="Static"> Phone No </div>
                        <div class="dots"> : </div>
                        <div class="Data"> +5663545 </div>
                     </div>
                     <div class="view_item">
                        <div class="Static"> Website </div>
                        <div class="dots"> : </div>
                        <div class="Data"> www.Jay.com </div>
                     </div>
                  </div>
               </div>
            </div>
            <br>
         </div>
         <!-- Tabs -->
         <div class="col-sm-12">
            <br>
            <div class="Company_Details">
               <div class="Tabs">
                  <div class="Tab" [ngClass]="{'active': Active_Tab === 'Courses'}" (click)="Active_Tab_Change('Courses')">
                     <span >Courses</span>
                  </div>
                  <div class="Tab" [ngClass]="{'active': Active_Tab === 'Departments'}" (click)="Active_Tab_Change('Departments')">
                     <span >Departments</span>
                  </div>
                  <div class="Tab" [ngClass]="{'active': Active_Tab === 'Extra_Curricular_Activities'}" (click)="Active_Tab_Change('Extra_Curricular_Activities')">
                     <span >Extra-Curricular-Activities</span>
                  </div>
                  <div class="Tab" [ngClass]="{'active': Active_Tab === 'Staffs'}" (click)="Active_Tab_Change('Staffs')">
                     <span >Staffs</span>
                  </div>
               </div>
               <br>
               <!-- Table Section -->
               <div *ngIf="Active_Tab === 'Departments'">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static">Department Name </div>
                           <div class="dots"> : </div>
                           <div class=" Data"> Name</div>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static">Department Head </div>
                           <div class="dots"> : </div>
                           <div class=" Data"> xxxxx</div>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static">Course </div>
                           <div class="dots"> : </div>
                           <div class=" Data"> B.E</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div *ngIf="Active_Tab === 'Courses'">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static">Course Name </div>
                           <div class="dots"> : </div>
                           <div class=" Data">Bachelor Of Engineering</div>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static">Short Code </div>
                           <div class="dots"> : </div>
                           <div class=" Data"> B.E</div>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static">No Of Years </div>
                           <div class="dots"> : </div>
                           <div class=" Data"> 3 Years</div>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static">Director </div>
                           <div class="dots"> : </div>
                           <div class=" Data"> yyyy</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div *ngIf="Active_Tab === 'Extra_Curricular_Activities'">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static"> Name </div>
                           <div class="dots"> : </div>
                           <div class=" Data"> Name</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div *ngIf="Active_Tab === 'Staffs'">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static"> Name </div>
                           <div class="dots"> : </div>
                           <div class=" Data"> Name</div>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static">Qualification </div>
                           <div class="dots"> : </div>
                           <div class=" Data"> xxxxx</div>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static">Date Of Joining </div>
                           <div class="dots"> : </div>
                           <div class=" Data"> 27/08/18</div>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static">Experience </div>
                           <div class="dots"> : </div>
                           <div class=" Data"> 10yrs</div>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <div class="view_item">
                           <div class=" Static">Gender </div>
                           <div class="dots"> : </div>
                           <div class=" Data"> male</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


       
   
