/* page */
.page{
   margin-top:100px;
   margin-bottom:100px;
}
/* --------------   Page Identity Section  ----------------- */
.Page_Identity{
   display: flex;
   height:40px;
   width: 100%;
   margin-bottom: 5px;
}
.Page_Identity .Page_Track{
   width:100%;
   line-height: 35px;
}
.Page_Identity .Page_Track ul{
   display: flex;
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   align-items: center;
   float: right;
}
.Page_Identity .Page_Track ul li {
  font-size: 13px;
   font-weight: 500;
   margin-left: 5px;
}
.Page_Identity .Page_Track ul li.arrow{
   letter-spacing: -4px;
   font-size: 19px;
   transform: scale(.6, 1);
}
.Page_Identity .Page_Track ul li.arrowGreen{
   letter-spacing: -4px;
   font-size: 19px;
   transform: scale(.6, 1);
   color: #226BAF;
}
.Page_Identity .Page_Track ul li.HeaderName{
   color: #226BAF;
}
.Page_Identity .Page_Track ul li.LinkName{
   color: #226BAF;
   cursor: pointer;
}

/* Company details */
.Company_Details{
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   border-top: 2px solid #226BAF;
   box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.SectionIdentity{
   color:#4E6A7A;
   font-size:18px;
   font-weight: 700;
   
}
.SectionIdentity .Highlight{
   color:#226BAF;
   font-size:18px;
   font-weight: 700;
}

/* ************************************ View Style ******************************* */
.view_item {
   display: grid;
   grid-template-columns: 140px 15px auto;
   margin-left: 20px;
}
.view_item .Static{
   font-weight: 700;
   color: #4f6a7a;
   margin-bottom: 10px;
   font-size: 15px;
}
.view_item .dots{
   font-weight: 800;
   color: #4f6a7a;
   margin-bottom: 10px;
   font-size: 15px;
}
.view_item .Data{
   font-weight: 500;
   color: #4f6a7a;
   margin-bottom: 10px;
   font-size: 14px;
}

/* Cards */
.Card {
   height: 105px;
   width: 85%;
}
.Card .Card_Body {    
   height: 100px;
   display: flex;
   align-items: center;
}
.Card .Card_Body .Card_Left {
   width: 25%;
   text-align: center;
}
.Card .Card_Body .Card_Left i {
   font-size: 23px;
   line-height: 85px;
}
.Card .Card_Body .Card_Left .people{
   color: #9ccc65;
}
.Card .Card_Body .Card_Left .people1{
   color:#FFBA57;;
}
.Card .Card_Body .Card_Left .people2{
   color:#FF5252;
}
.Card .Card_Body .Card_Left .people3{
   color:#1DA1F2;
}
.Card .Card_Body .Card_Right {
   text-align: center;
   width: 75%;
}
.Card .Card_Body .Card_Right h4{
   font-size:16px;
}
.Card .Card_Body .Card_Right h5 {
   color: #017f1e;
   font-size: 16px;
   line-height: 30px;
   margin: 0px;
}
.Card .Card_Body .Card_Right h6 {
   color: #ffffff;
   font-size: 16px;
}
.Card .Card_Footer {
   height: 55px;
   background-color: #017f1e;
   display: inline-block;
   width: 100%;
   align-items: center;
   padding: 0px 10px;
   line-height: 52px;
   text-align: center;
}
.Card .Card_Footer .Card_Info {
   font-size: 12px;
   color: #ffffff;
   font-weight: 500;
   cursor:pointer;
}

.card_bg_Liner_1{
   background: #fff !important;
}
.card_bg_1{
   background-color: #9ccc65 !important;
}
.card_color_1{
   color: #9ccc65 !important;
}

.card_bg_Liner_2{
   background: #fff!important;
}
.card_bg_2{
   background-color: #FFBA57 !important;
}
.card_color_2{
   color: #FFBA57 !important;
}

.card_bg_Liner_3{
   background: #fff;
}
.card_bg_3{
   background-color: #FF5252 !important;
}
.card_color_3{
   color: #FF5252 !important;
}

.card_bg_Liner_4{
   background: #fff;
}
.card_bg_4{
   background-color: #1DA1F2 !important;
}
.card_color_4{ 
   color: #1DA1F2 !important;
}
/* Table Section */
.Table_Section table {
   border: 1px solid lightgray;
   width: 100%;
   box-shadow: 2px 2px 3px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}
.Table_Section table thead {
   line-height: 40px;
   text-align: center;
   background-color: #ffffff;
   color: #4d6a7a;
   font-size: 14px;
   letter-spacing: 0.5px;
}
.Table_Section table thead th{
   font-weight: 800;
}
.Table_Section table tbody {
   border: 1px solid #e8e8e8;
   background-color: #ffffff;
}
.Table_Section table tbody tr {
   line-height: 42px;
   text-align: center;
   align-items: center;
   border-bottom: 1px solid #eaeaea;
}
.Table_Section table tbody tr:nth-child(odd) {
   background-color: #f1f1f185;
}
.Table_Section table tbody tr:hover {
   background-color: #4f6a7a40;
}
.Table_Section table tbody tr td .S_no {
   font-size: 14px;
   color: #4d6a7a;
}
.Table_Section table tbody tr td .Style_1 {
   font-size: 14px;
   color: rgba(77, 106, 122, 0.84);
   font-weight: 600;
   cursor: pointer;
}
.Table_Section table tbody tr td .Action_Section{
   color: #ffffff;
   height: 35px;
   width: 35px;
   line-height: 30px;
   display: flex;
   border-radius: 5px;
   cursor: pointer;
   float: right;
   margin-right: 10px;
}
.Table_Section table tbody tr td .Action_Section i {
   width: 100%;
   line-height: 35px;
}
.Image_Section{
   margin-left: 30px;
}
.Image_Section img{
   width: 150px;
   height: 138px;
}
