<!-- Page -->
<div class="page">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Students</li>
               <li class="arrow">>></li>
               <li class="LinkName" [routerLink]="['/Student_List']">Students List</li>
               <li class="arrow">>></li>
               <li> Students View</li>
            </ul>
         </div>
      </div>
      <div class="row">
         <!-- Company details -->
         <div class="col-sm-4">
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Student </span> Details
               </h5>
               <div class="view_item">
                  <div class="Static"> Institution </div>
                  <div class="dots"> : </div>
                  <div class="Data">  zzzz </div>
               </div>
               <div class="view_item">
                  <div class="Static"> Department </div>
                  <div class="dots"> : </div>
                  <div class="Data"> Computer Science </div>
               </div>
               <div class="view_item">
                  <div class="Static"> Course </div>
                  <div class="dots"> : </div>
                  <div class="Data"> B.E </div>
               </div>
               <div class="view_item">
                  <div class="Static"> Roll No </div>
                  <div class="dots"> : </div>
                  <div class="Data"> 14 </div>
               </div>
               <div class="view_item">
                  <div class="Static">Student Name</div>
                  <div class="dots"> : </div>
                  <div class="Data"> xxxx </div>
               </div>
               <div class="view_item">
                  <div class="Static"> Batch </div>
                  <div class="dots"> : </div>
                  <div class="Data"> 2013-2017 </div>
               </div>
               <div class="view_item">
                  <div class="Static"> Email Id </div>
                  <div class="dots"> : </div>
                  <div class="Data"> student@gmail.com </div>
               </div>
            </div>
         </div>
         <div class="col-sm-8">
            <h5 class="SectionIdentity"> 
               <span class="Highlight"> Levels </span> 
            </h5><br>
            <div class="row">
               <div class="col-sm-3">
                  <div class="Card card_bg_Liner_1">
                     <div class="Card_Body">
                        <div class="Card_Left">
                           <i class="material-icons people">equalizer</i>
                        </div>
                        <div class="Card_Right">
                           <h5 class="card_color_1"> 800 </h5>
                           <h4>Points</h4>
                           <!-- <h6> 10</h6> -->
                        </div>
                     </div>
                     <div class="Card_Footer card_bg_1">
                        <span class="Card_Info" [routerLink]="['/Institution_View']"> View More </span>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="Card card_bg_Liner_2">
                     <div class="Card_Body">
                        <div class="Card_Left">
                           <i class="material-icons people1">equalizer</i>
                        </div>
                        <div class="Card_Right">
                           <h5 class="card_color_2 "> 800 </h5>
                           <h4>Points</h4>
                           <!-- <h6>10 </h6> -->
                        </div>
                     </div>
                     <div class="Card_Footer card_bg_2">
                        <span class="Card_Info" [routerLink]="['/Institution_View']"> View More </span>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="Card card_bg_Liner_3">
                     <div class="Card_Body">
                        <div class="Card_Left">
                           <i class="material-icons people2">equalizer</i>
                        </div>
                        <div class="Card_Right">
                           <h5 class="card_color_3"> 800 </h5>
                           <h4>Points</h4>
                           <!-- <h6> 10</h6> -->
                        </div>
                     </div>
                     <div class="Card_Footer card_bg_3">
                        <span class="Card_Info" [routerLink]="['/Institution_View']"> View More </span>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="Card card_bg_Liner_4">
                     <div class="Card_Body">
                        <div class="Card_Left">
                           <i class="material-icons people3">equalizer</i>
                        </div>
                        <div class="Card_Right">
                           <h5 class="card_color_4"> 800 </h5>
                           <h4>Points</h4>
                           <!-- <h6> 10</h6> -->
                        </div>
                     </div>
                     <div class="Card_Footer card_bg_4">
                        <span class="Card_Info" [routerLink]="['/Institution_View']"> View More </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br>
      <h5 class="SectionIdentity"> 
         <span class="Highlight"> Acheivements </span> 
      </h5><br>
      <!-- Table Section -->
      <div class="Table_Section">
         <table>
            <thead>
               <tr>
                  <th>S.no</th>
                  <th>Date</th>
                  <th>Acheivement</th>
                  <th>Honor</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <span class="S_no"> 1 </span>
                  </td>
                  <td>
                     <span class="Style_1">18.08.18</span>
                  </td>
                  <td>
                     <span class="Style_1"> xxxx</span>
                  </td>
                  <td>
                     <span class="Style_1">honor</span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 1 </span>
                  </td>
                  <td>
                     <span class="Style_1">18.08.18</span>
                  </td>
                  <td>
                     <span class="Style_1"> xxxx</span>
                  </td>
                  <td>
                     <span class="Style_1">honor</span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 1 </span>
                  </td>
                  <td>
                     <span class="Style_1">18.08.18</span>
                  </td>
                  <td>
                     <span class="Style_1"> xxxx</span>
                  </td>
                  <td>
                     <span class="Style_1">honor</span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 1 </span>
                  </td>
                  <td>
                     <span class="Style_1">18.08.18</span>
                  </td>
                  <td>
                     <span class="Style_1"> xxxx</span>
                  </td>
                  <td>
                     <span class="Style_1">honor</span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <br>
      <h5 class="SectionIdentity"> 
         <span class="Highlight"> Badges</span>
      </h5><br>
      <div class="Image_Section">
         <div class="row">
            <div class="col-sm-3">
               <img src="../../../../assets/images/basic/ISO9001_2008.png">
            </div>
            <div class="col-sm-3">
               <img src="../../../../assets/images/basic/ISO9001_2008.png">
            </div>
            <div class="col-sm-3">
               <img src="../../../../assets/images/basic/ISO9001_2008.png">
            </div>
            <div class="col-sm-3">
               <img src="../../../../assets/images/basic/ISO9001_2008.png">
            </div>
         </div>
      </div>
   </div>
</div>
    
