/* Page Section */
.Page_Section{
   margin-top:100px;
   margin-bottom:100px;
}
/* --------------   Page Identity Section  ----------------- */
.Page_Identity{
   display: flex;
   height:40px;
   width: 100%;
   margin-bottom: 5px;
}
.Page_Identity .Page_Track{
   width:100%;
   line-height: 35px;
}
.Page_Identity .Page_Track ul{
   display: flex;
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   align-items: center;
   float: right;
}
.Page_Identity .Page_Track ul li {
   font-size: 13px;
   font-weight: 500;
   margin-left: 5px;
}
.Page_Identity .Page_Track ul li.arrow{
   letter-spacing: -4px;
   font-size: 19px;
   transform: scale(.6, 1);
}
.Page_Identity .Page_Track ul li.arrowGreen{
   letter-spacing: -4px;
   font-size: 19px;
   transform: scale(.6, 1);
   color: #226BAF;
}
.Page_Identity .Page_Track ul li.HeaderName{
   color: #226BAF;
}
.Page_Identity .Page_Track ul li.LinkName{
   color: #226BAF;
   cursor: pointer;
}
.Page_Content.Hrms .Main_Section{
   width:100%;
   display:flex;
}

.Complete_Section{
   display: grid;
   grid-template-columns: 23% 75%;
   grid-column-gap: 2%;
}
.Complete_Section .Left_Section{
   width: 100%;
}
.Complete_Section .Left_Section .Left_SectionBox_Effect{
   background-color: #ffffff;
   box-shadow: 1px 1px 14px #d4d4d4;
   padding: 10px 20px;
}

.Form_Select {
   margin-bottom: 25px;
}
.Form_Select label {
   font-size: 14px;
   margin-bottom: 5px;
   font-weight: 700;
   color: #4e6a7a;
}


.Right_Section {
   position: relative;
}
.BoxSections_List {
   position: relative;
   display: grid;
   grid-template-columns: auto auto auto;
   grid-column-gap: 15px;
   grid-row-gap: 15px;
}
.Box_Section {
   position: relative;
   display: grid;
   grid-template-columns: 30% 70%;
   background-color: #ffffff;
   box-shadow: 1px 1px 14px #d4d4d4;
}
.Box_Section .Box_Img {
   position: relative;
   background-color: rgba(34, 107, 175, 0.75);
}
.Box_Section .Box_Img img {
   max-width: 95%;
   max-height: 95%;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);
   transform: translateY(-50%) translateX(-50%);
}
.Box_Section .Box_Details {
   padding: 5px 10px;
}
.Box_Section .Box_Details .Name{
   font-size: 15px;
   font-weight: 700;
   color: #226baf;
   margin-bottom: 0px;
   letter-spacing: 0.5px;
}
.Box_Section .Box_Details .Reg_No{
   font-size: 13px;
   font-weight: 700;
   color: #4e6a7a;
   margin-bottom: 0px;
   letter-spacing: 0.5px;
}
.Box_Section .Box_Details .Course{
   font-size: 13px;
   font-weight: 600;
   color: #6b899a;
   margin-bottom: 0px;
   letter-spacing: 0.5px;
}
.Box_Section .Box_Details .Batch{
   font-size: 13px;
   font-weight: 600;
   color: #6b899a;
   margin-bottom: 0px;
   letter-spacing: 0.5px;
}
.Box_Section .Box_Details .YearSemester {
   font-size: 13px;
   font-weight: 600;
   color: #6b899a;
   margin-bottom: 0px;
   letter-spacing: 0.5px;
}
.Box_Section .Box_Details .Section {
   font-size: 13px;
   font-weight: 600;
   color: #6b899a;
   margin-bottom: 0px;
   letter-spacing: 0.5px;
}
.Box_Section .Box_Details .Not_Link {
   font-size: 13px;
   font-weight: 600;
   color: #F44336;
   margin-bottom: 0px;
   letter-spacing: 0.5px;
}
