<!-- If Create Or Edit The Course -->
<div class="Modal_Content" *ngIf="Type && ( Type === 'Create' || Type === 'Edit')">
   <div class="Modal_Header">
      <p> {{Type}} Course </p>
      <span  *ngIf="!Uploading" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <form [formGroup]="Form" (ngSubmit)="onSubmit()">
      <div class="Model_Body">
         <div class="row">
            <div class="col-sm-12 Form_Input" [ngClass]="{'Form_Err': Form.controls['Course'].errors && !Form.controls['Course'].pristine, 'Form_Success': Form.controls['Course'].valid && !Form.controls['Course'].pristine }">
               <label>Course :</label>
               <input type="text" formControlName="Course">
               <p class="error" *ngIf="Form.controls['Course'].errors && !Form.controls['Course'].pristine">
                  <span *ngIf="Form.controls['Course'].errors.required">Course is required</span>
                  <span *ngIf="Form.controls['Course'].errors.Course_NotAvailable">Course Already Exist</span>
               </p>
            </div>
            <div class="col-sm-12 Form_Input" [ngClass]="{'Form_Err': Form.controls['Course_ShortCode'].errors && !Form.controls['Course_ShortCode'].pristine, 'Form_Success': Form.controls['Course_ShortCode'].valid && !Form.controls['Course_ShortCode'].pristine }">
               <label>Short Code:</label>
               <input type="text" formControlName="Course_ShortCode">
               <p class="error" *ngIf="Form.controls['Course_ShortCode'].errors && !Form.controls['Course_ShortCode'].pristine">
                  <span *ngIf="Form.controls['Course_ShortCode'].errors.required">Short Code is required</span>
               </p>
            </div>
            <div class="col-sm-12 Form_Input" [ngClass]="{'Form_Err': Form.controls['NoOfYears'].errors && !Form.controls['NoOfYears'].pristine, 'Form_Success': Form.controls['NoOfYears'].valid && !Form.controls['NoOfYears'].pristine }">
               <label>No Of Years:</label>
               <input type="text" formControlName="NoOfYears">
               <p class="error" *ngIf="Form.controls['NoOfYears'].errors && !Form.controls['NoOfYears'].pristine">
                  <span *ngIf="Form.controls['NoOfYears'].errors.required">Short Code is required</span>
               </p>
            </div>
         </div>
      </div>
      <div class="Model_Footer">
         <button type="submit" [disabled]="Form.status !== 'VALID' || Uploading" mat-raised-button color="primary">
            <span *ngIf="Type === 'Create' && !Uploading">Submit</span>
            <span *ngIf="Type === 'Edit' && !Uploading">Update</span>
            <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
         </button>
      </div>
   </form>
</div>

<!-- If View The Course -->
<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
   <div class="Modal_Header">
      <p>View Course</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="view_item">
         <div class="Static">Course </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data.Course}}</div>
      </div>
      <div class="view_item">
         <div class="Static">Short Code</div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data.Course_ShortCode}}</div>
      </div>
      <div class="view_item">
         <div class="Static"> No Of Years </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data.NoOfYears}}</div>
      </div>
      <div class="view_item">
         <div class="Static">Created By </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data.Created_By.Name}} 
            <!-- <span class="Badge"> {{Data.Created_By.User_Type.User_Type}} </span> -->
         </div>
      </div>
      <div class="view_item">
         <div class="Static">Last Modified By </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data.Last_Modified_By.Name}}
            <!-- <span class="Badge"> {{Data.Last_Modified_By.User_Type.User_Type}} </span> -->
         </div>
      </div>
      <div class="view_item">
         <div class="Static"> Created Date </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data.createdAt | date:'medium'}}</div>
      </div>
      <div class="view_item">
         <div class="Static">Last Modified Date  </div>
         <div class="dots"> : </div>
         <div class="Data"> {{Data.updatedAt | date:'medium'}}</div>
      </div>
   </div>
</div>



