<div class="Modal_Content">
   <div class="Modal_Header">
      <p> Tutor Management </p>
      <span *ngIf="!Uploading" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <form [formGroup]="Form">
         <div class="row">
            <div class="col-sm-4 Form_Select">
               <label> Institution: </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Institution"
                           [items]="Institutions_List"
                           [bindLabel]="'Institution'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           (change)="InstitutionChange()"
                           placeholder="Institution">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Institution'].errors && !Form.controls['Institution'].pristine">
                  <span *ngIf="Form.controls['Institution'].errors.required"> Institution is required</span>
               </p>
            </div>
            <div class="col-sm-4 Form_Select">
               <label> Course & Department: </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Institution_Management"
                           [items]="Institution_Management_List"
                           [bindLabel]="'CourseAndDepartment'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           (change)="InsManagementChange()"
                           placeholder="Course & Department">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Institution_Management'].errors && !Form.controls['Institution_Management'].pristine">
                  <span *ngIf="Form.controls['Institution_Management'].errors.required"> Course & Department is required</span>
               </p>
            </div>
            <div class="col-sm-4 Form_Select">
               <label> Yearly Batch </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Yearly_Badge"
                           [items]="Yearly_Badge_List"
                           [bindLabel]="'Batch'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           (change)="YearlyBatch_Change()"
                           placeholder="Yearly Badge">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Yearly_Badge'].errors && !Form.controls['Yearly_Badge'].pristine">
                  <span *ngIf="Form.controls['Yearly_Badge'].errors.required"> Yearly Badge is required</span>
               </p>
            </div>
            <div class="col-sm-4 Form_Select">
               <label> Year </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Year"
                           [items]="Years_List"
                           [bindLabel]="'Show_Year'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           (change)="Year_Change()"
                           placeholder="Year">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Year'].errors && !Form.controls['Year'].pristine">
                  <span *ngIf="Form.controls['Year'].errors.required"> Year is required</span>
               </p>
            </div>
            <div class="col-sm-4 Form_Select">
               <label> Semester </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Semester"
                           [items]="Semesters_List"
                           [bindLabel]="'Semester_Name'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           (change)="Semester_Change()"
                           placeholder="Semester">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Semester'].errors && !Form.controls['Semester'].pristine">
                  <span *ngIf="Form.controls['Semester'].errors.required"> Semester is required</span>
               </p>
            </div>
            <div class="col-sm-4 Form_Select">
               <label> Section </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Section"
                           [items]="Sections_List"
                           [searchable]="true"
                           (change)="Section_Change()"
                           placeholder="Section">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Section'].errors && !Form.controls['Section'].pristine">
                  <span *ngIf="Form.controls['Section'].errors.required"> Section is required</span>
               </p>
            </div>
            <div class="col-sm-4 Form_Select">
               <label> Staff </label>
               <ng-select class="NgSelect ValueBold"
                           formControlName="Staff"
                           [items]="Staffs_List"
                           [bindLabel]="'Name'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           placeholder="Staff">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Staff'].errors && !Form.controls['Staff'].pristine">
                  <span *ngIf="Form.controls['Staff'].errors.required"> Staff is required</span>
               </p>
            </div>
         </div>
         <hr>
         <div class="row" *ngIf="Form.controls['Section'].valid">
            <div class="col-sm-12">
               <div class="TableSection">
                  <h5> Students List </h5>
                  <div class="row" style="margin-bottom: 15px;">
                     <div class="col-sm-1">
                        <h6> S.No</h6>
                     </div>
                     <div class="col-sm-4">
                        <h6> Student Name </h6>
                     </div>
                     <div class="col-sm-4">
                        <h6> Roll No </h6>
                     </div>
                     <div class="col-sm-3" style="text-align: center">
                        <mat-checkbox formControlName="AllStudents_Selected" (change)="SelectAllStudent_Change()"></mat-checkbox>
                     </div>
                  </div>
                  <ng-container formArrayName="Students">
                     <div class="row" *ngFor="let Student of Form.controls['Students']['controls']; let i=index" [formGroup]="Student">
                        <div class="col-sm-1 Form_Input">
                           <p> {{i + 1}} </p>
                        </div>
                        <div class="col-sm-4 Form_Input">
                           <input type="text" formControlName="Name">
                        </div>
                        <div class="col-sm-4 Form_Input">
                           <input type="text" formControlName="Reg_No">
                        </div>
                        <div class="col-sm-3"  style="padding-top: 10px; text-align: center">
                           <mat-checkbox formControlName="Action" (change)="SomeStudent_ActionChange()"></mat-checkbox>
                        </div>
                     </div>
                  </ng-container>
               </div>
            </div>
         </div>
      </form>
   </div>
   <div class="Model_Footer">
      <button type="submit" [disabled]="Form.status !== 'VALID' || Uploading || Async_Loading" (click)="Submit()" mat-raised-button color="primary">
         <span *ngIf="!Uploading">Submit</span>
         <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
      </button>
   </div>
</div>