<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
   <div class="Modal_Header">
      <p> Department</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="col-sm-6 Form_Input">
            <label> Department Name:</label>
            <input type="text">
         </div>
         <div class="col-sm-6 Form_Input">
            <label>Department Head:</label>
            <input type="text">
         </div>
         <div class="col-sm-6 Form_Select">
            <label>Course:</label>
            <select>
               <option disabled> B.E</option>
               <option> M.E</option>
               <option>MBA</option>
            </select>
         </div>
      </div>
   </div>
   <div class="Model_Footer">
      <button mat-raised-button color="primary"> Submit </button>
   </div>
</div>
<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
   <div class="Modal_Header">
      <p>Department</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="view_item">
         <div class=" Static">Department Name </div>
         <div class="dots"> : </div>
         <div class=" Data"> Name</div>
      </div>
      <div class="view_item">
         <div class=" Static">Department Head </div>
         <div class="dots"> : </div>
         <div class=" Data"> xxxxx</div>
      </div>
      <div class="view_item">
         <div class=" Static">Course </div>
         <div class="dots"> : </div>
         <div class=" Data"> B.E</div>
      </div>
   </div>
</div>

   
