<!-- Page -->
<div class="page">
   <div class="container-fluid">
      <!-- page identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Configuration</li>
               <li class="arrow">>></li>
               <li class="LinkName" [routerLink]="['/Level_List']">Level List</li>
               <li class="arrow">>></li>
               <li> Level Create </li>
            </ul>
         </div>
      </div>
      <div class="row">
         <!-- Company details -->
         <div class="col-sm-12">
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Level </span> Details
               </h5>
               <form [formGroup]="Form">
                  <div class="row">
                     <div class="col-sm-4 Form_Select">
                        <label>Institution:</label>
                        <ng-select class="NgSelect" [searchable]="true" placeholder="Select Institution">
                           <ng-option *ngFor="let Institution of _Institution" [value]="Institution">{{Institution}}</ng-option>
                        </ng-select>
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Level Name:</label>
                        <input type="text">
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Eligibility:</label>
                        <input type="text">
                     </div>
                     <div class="col-sm-4 Form_Select">
                        <label>Activities:</label>
                        <ng-select class="NgSelect" [searchable]="true" placeholder="Select Activity">
                           <ng-option *ngFor="let Activity of _Activities" [value]="Activity">{{Activity}}</ng-option>
                        </ng-select>
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Badges:</label>
                        <input type="file">
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Duration:</label>
                        <input type="text">
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Points Can Be Earned:</label>
                        <input type="text">
                     </div>
                     <div class="col-sm-4 Form_Input">
                        <label>Redeemption Method:</label>
                        <input type="text">
                     </div>
                     <div class="col-sm-4 Form_TextArea">
                        <label>Objectives:</label>
                        <textarea type="text" row="4"></textarea>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="Footer">
   <button mat-raised-button color="primary" style = "top: 5px;"> Submit </button>
</div>
   
                  
               
         
         
      
