<!-- Page -->
<div class="page">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Configuration</li>
               <li class="arrow">>></li>
               <li class="LinkName" [routerLink]="['/Queries_List']">Queries List</li>
               <li class="arrow">>></li>
               <li> Queries View</li>
            </ul>
         </div>
      </div>
      <div class="row">
         <!-- Company details -->
         <div class="col-sm-4">
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Queries </span> Details
               </h5>
               <div class="row">
                  <div class="col-sm-4">
                     <div class="view_item">
                        <div class="Static"> Roll No </div>
                        <div class="dots"> : </div>
                        <div class="Data"> 14 </div>
                     </div>
                     <div class="view_item">
                        <div class="Static">Student Name</div>
                        <div class="dots"> : </div>
                        <div class="Data"> xxxx </div>
                     </div>
                     <div class="view_item">
                        <div class="Static"> Institution </div>
                        <div class="dots"> : </div>
                        <div class="Data">  zzzz </div>
                     </div>
                     <div class="view_item">
                        <div class="Static"> Department </div>
                        <div class="dots"> : </div>
                        <div class="Data"> Computer Science </div>
                     </div>
                     <div class="view_item">
                        <div class="Static"> Course </div>
                        <div class="dots"> : </div>
                        <div class="Data"> B.E </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-8">
            <div class="Company_Details">
               <div class="row">
                  <div class="col-sm-6">
                     <div class="view_item">
                        <div class="Static"> Subject </div>
                        <div class="dots"> : </div>
                        <div class="Data"> Subject </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="view_item">
                        <div class="Static"> Query </div>
                        <div class="dots"> : </div>
                        <div class="Data"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="view_item">
                        <div class="Static"> Solution </div>
                        <div class="dots"> : </div>
                        <div class="Data"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
    


